.navbar {
  background-color: aqua;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar_link {
  cursor: pointer;
  margin: 20px;
  padding: 12px;
}

.navbar_page {
  
}
