.dashboard {
  margin: 20px;
  display: flex;
}

.text_field {
  width: 280px;
}

.details {
  display: flex;
  flex: 0.5;
  letter-spacing: 2px;
  justify-content: center;
}

.more {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 0.5;
  flex-direction: column;
}

.attendance {
  padding: 40px;
}

.salary {
  margin: 20px 20px 0px 20px;
  padding: 20px 40px;
  border: 1px solid black;
}

@media only screen and (max-width: 900px) {
  .dashboard {
    flex-direction: column;
  }
  .salary {
    padding: 20px;
  }
  .attendance {
    padding: 20px;
  }
}
