.dashboard {
  margin: 20px;
  display: flex;
}

.details {
  padding: 20px;
  margin: 30px;
  flex: 0.5;
  width: 100%;
}

.more {
  margin: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 0.5;
  flex-direction: column;
}

.attendance {
  padding: 20px;
}

.salary {
  margin: 20px 20px 0px 20px;
  padding: 40px;
  border: 1px solid black;
}

@media only screen and (max-width: 900px) {
  .dashboard {
    flex-direction: column;
  }
}

.text_field {
  width: 240px;
}
